.DS_Store
config/database.yml
config/geoserver.yml
coverage/*
db/*.sqlite3
log/*
tmp/**/*
tmp
vendor/bundler_gems
vendor/geoserver_api
db/schema.rb
geodata/impact/*
.dropbox
*.rbc
*.pyc
app/stylesheets/.sass-cache
nohup.out
lib/riat_python_api/wcs_url.txt
public/system/raw_datas
config/geoserver.yml
