#map-wrapper { height: 500px; width: 920px; margin: 0 auto; position: relative; padding: 30px 0 10px; }
#map-wrapper.is-fullscreen { margin: 0; width: auto; }
#map-wrapper .fullscreen { -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0; background: #cccccc; color: #222222; font-size: 13px; display: block; position: absolute; right: 0; top: 0; text-decoration: none; padding: 5px 10px 5px; }
#map-wrapper .fullscreen:hover { background: #d6effd; }

#map-container { border: 2px #cccccc solid; height: 100%; }
#map-container .olControlLayerSwitcher .layersDiv { background-color: #3b3b37; }
#map-container .olControlLayerSwitcher > div { display: none; }
#map-container .olControlLayerSwitcher div.minimizeDiv, #map-container .olControlLayerSwitcher div.maximizeDiv, #map-container .olControlLayerSwitcher div.layersDiv { display: block; }
#map-container .olControlBox { cursor: crosshair; }

.olControlMousePosition { background-color: #333333; padding: 2px; color: white; z-index: 2147483647; }

.olControlBoundingBox { background-color: #333333; padding: 2px; color: white; z-index: 2147483647; }

#projected_coords { float: right; padding: 2px; background-color: wheat; bottom: -20px; font-size: 0.8em; }

#map-statusbar .current_bounds { border-bottom: 1px #cccccc dashed; margin-top: 5px; margin-right: 10px; padding: 5px 0 15px; font-size: 10px; letter-spacing: 0.25em; text-transform: uppercase; }
