#map-container { height: 400px; border: 1px solid #cccccc; margin: 0 10px 10px; min-width: 920px; }

.olControlMousePosition { background-color: #333333; padding: 2px; color: white; z-index: 2147483647; }

#projected_coords { float: right; padding: 2px; background-color: wheat; bottom: -20px; font-size: 0.8em; }
