@import _mixins

#map-wrapper
  height: 500px
  width: 920px
  margin: 0 auto
  position: relative
  padding: 30px 0 10px
  &.is-fullscreen
    margin: 0
    width: auto
  .fullscreen  
    +tiny-rounded-top
    +light-inset
    background: #ccc
    color: #222
    font-size: 13px
    display: block
    position: absolute
    right: 0
    top: 0
    text-decoration: none
    padding: 5px 10px 5px
    &:hover
      background: #d6effd
      

#map-container
  border: 2px #ccc solid
  height: 100%
  // margin: 0 10px 10px
  // min-width: 920px
  // width: 100%
  

  .olControlLayerSwitcher .layersDiv
    background-color: #3b3b37

  .olControlLayerSwitcher
    > div
      display: none
    div
      &.minimizeDiv, &.maximizeDiv, &.layersDiv
        display: block

  .olControlBox
    cursor: crosshair
  
.olControlMousePosition 
  background-color: #333
  padding: 2px
  color: white
  z-index: 2147483647

.olControlBoundingBox 
  background-color: #333
  padding: 2px
  color: white
  z-index: 2147483647
  
#projected_coords
  float: right
  padding: 2px
  background-color: wheat
  bottom: -20px
  font-size: 0.8em


#map-statusbar
  .current_bounds
    border-bottom: 1px #ccc dashed
    margin-top: 5px
    margin-right: 10px
    padding: 5px 0 15px
    font-size: 10px
    letter-spacing: .25em
    text-transform: uppercase
