/ "previous page" action
%a.prev.browse.left <<
/ root element for scrollable
.scrollable
  / root element for the items
  .items
    / 1-5
    #region{:style => "width:600px"}
      %image{:src => "/images/0_select_region.png"}
      %p=link_to "0 Select Region", "#" 
      %p [106,-7.5,109,-5]
      -bbox = [106,-7.5,109,-5]      
    #hazard{:style => "width:600px"}
      %form
        %h2 Select Natural Hazard
        %label Hazard
        %select
          %option{:value => "earthquake", :selected => "selected"} Earthquake
          %option{:value => "volcanic eruption"} Volcanic Eruption
          %option{:value => "flood"} Flood      
      %p=link_to "1 Select Hazard", "#"  
      -hazrd = "earthquake"
      %p=link_to "run_exposure"
    #exposure{:style => "width:600px"}
      %form
        %h2 Select Exposure
        %label Exposure
        %select
          %option{:value => "Population", :selected => "selected"} Population
          %option{:value => "infrastructure"} Infrastructure
      %p=link_to "2 Select Exposure", "#"
      -exposure = %w{population infrastructure}
    #impact{:style => "width:600px"}
      %h2 Impact of Earthquake
      =link_to "View in Google Earth", "http://localhost:8080/geoserver/wms/kml?layers=impact:earthquake_fatalities_1hz10pc50&legend=true"      
      %img{:src => "/images/4_impact.png"}/
    / 5-10
/ "next page" action
%a.next.browse.right >>
