=content_for(:head) do
  %script{:src => "/javascripts/web-socket-js/swfobject.js", :type => "text/javascript"}
  %script{:src => "/javascripts/web-socket-js/FABridge.js", :type => "text/javascript"}
  %script{:src => "/javascripts/web-socket-js/web_socket.js", :type => "text/javascript"}
  = puts WEBSOCKET_SERVER_CONFIG
  :javascript
    // Set URL of your WebSocketMain.swf here:
    WEB_SOCKET_SWF_LOCATION = "/javascripts/web-socket-js/WebSocketMain.swf";
    // Set this to dump debug message from Flash to console.log:
    WEB_SOCKET_DEBUG = true;

    var ws;
  
    function init() {

      // Connect to Web Socket.
      // Change host/port here to your own Web Socket server.
      ws = new WebSocket("ws://#{WEBSOCKET_SERVER_CONFIG["host"]}:#{WEBSOCKET_SERVER_CONFIG["port"]}/");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
      };
      ws.onmessage = function(e) {
        // e.data contains received string.
        output("onmessage: " + e.data);
      };
      ws.onclose = function() {
        output("onclose");
      };
      ws.onerror = function() {
        output("onerror");
      };

    }
  
    function onSubmit() {
      var input = document.getElementById("input");
      // You can send message to the Web Socket using ws.send.
      ws.send(input.value);
      output("Impact analysis started");
      input.value = "";
      input.focus();
    }
  
    function onCloseClick() {
      ws.close();
    }
  
    function output(str) {
      var log = document.getElementById("log");
      var escaped = str.replace(/&/, "&amp;").replace(/</, "&lt;").
        replace(/>/, "&gt;").replace(/"/, "&quot;"); // "
      log.innerHTML = escaped + "<br>" + log.innerHTML;
    }
    
    $('document').ready(function () {
      init();
    })
#container
  #content
    %form{:onsubmit => "onSubmit(); return false;"}
      %input#input{:type => "text"}/
      %input{:type => "submit", :value => "Send"}/
      %button{:onclick => "onCloseClick(); return false;"} close
    #log
